body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
}

.loader {
    border: 8px solid white;
    border-top: 8px solid #B4E50D;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
